<div class="nav-wrapper">
	<nav class="navbar navber-dark bg-inverse navbar-static-top">
		<ul class="nav nav-bar" id="navleftul">
			<li class="nav-item">
				<button class="btn btn-lg">
					<a href="/w/MainGate">Home</a>
				</button>
			</li>
			<li class="nav-item">
				<button class="btn btn-lg">
					<a href="/recent">recent</a>
				</button>
			</li>
			
		</ul>
		<ul class="nav nav-bar pull-right">
			<li class="nav-item dropdown">
				<button class="btn btn-lg dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-expanded="true">
					<span class="glyphicon glyphicon-user"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right user-info" role="menu" aria-labelledby="userDropdown">
					<li role="presentation" class='user-info'>
						<% if(user) { %>
						<% } else { %>
						<div><%= ip %></div>
						<div>Please Log in!</div>
						<% } %>
					</li>
					<li class="divider"></li>
					<% if(typeof(user) == 'undefined') { %>
					<li role="presentation">
						<a role="menuitem" href="/member/login?redirect=<%= url %>">Login</a>
					</li>
					<% } else { %>
					<li role="presentation">
						<a role="menuitem" href="/member/logout?redirect=<%= url %>">Logout</a>
					</li>
					<% } %>
				</ul>
			</li>
		</ul>
		<form method="get" action="/search" class="form-inline navbar-form search-box-parent" style="float:right;">
			<div class="input-group input-group-lg">
				<div class="input-group-btn"><button type="button" id="randomBtn" class="btn btn-default">
					<a href="/random"><span class="glyphicon glyphicon-random"></span></a>
				</button></div>
				<input type="text" name="searchInput" id="searchInput" class="form-control" placeholder="Search">
				<div class="input-group-btn"><button id="searchBtn" class="btn btn-default" type="submit">
					<span class="glyphicon glyphicon-search"></span>
				</button></div>
			</div> <!-- input-group -->
		</form>
	</nav>
</div>