<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body class="senkawa">

	<% include header %>
	<div class="container-wrapper">
		<article class='container-fluid wiki-article'>
			<h1 class="title"><%= title %></h1>
			<div class="wiki-content">
				<div class="wiki-inner-content">
					<p>該当文書が見つかりません。</p>
					<p><a href="/edit/<%= title %>">[新しい文書作成]</a></p>
				</div>
			</div>
		</article>
	</div>
	<!-- container -->
</body>
</html>
