body.senkawa {
	background-color: #efefef;
}
.btn {
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: .0625rem solid #ccc;
    border-radius: 0;
}

.title a {
	color: inherit;
}
.title a:hover {
	color: inherit;
}
.nav-wrapper {
	background-color: #008275;
}

.navbar {
	font-size: 1rem;
	max-width: 1300px;
	margin-bottom: 0px;
}
nav {
	margin: auto;
}
.search-box-parent {
	height: 100%;
	margin: 0;
}
.navbar-form {
	padding: 0px;
}

.nav-wrapper> nav> ul> li> button {
	background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;

    color: #FFFFFF;
}
.nav-wrapper> nav> ul> li> button> a {
	color: white;
}

#navleftul,
.nav-wrapper> nav> ul> li {
	float: left;
}

.container-wrapper {
	max-width: 1300px;
	margin: auto;
}

.senkawa .wiki-article {
    margin: 0 19rem 0 0;
    padding: 1.5rem;
    min-height: 35rem;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    word-break: break-all;
}
.senkawa .wiki-article .wiki-article-menu {
	float: right;
}

.senkawa .wiki-article .wiki-edit-date {
	margin-top: -1.8rem;
	margin-bottom: 1rem;
	text-align: right;
}

@media screen and (max-width: 1020px) {
	.senkawa .wiki-article {
		padding: .7rem;
		margin: 0;
		border: 0 !important;
	}
	.senkawa .wiki-article .wiki-article-menu {
		margin: -.7rem -.7rem 0;
		border-bottom: .0625rem solid #ccc;
		text-align: right;
		float: none;
	}
	.senkawa .wiki-article .wiki-edit-date {
		margin-top: -1.4rem;
	}
}

.wiki-article> .title {
	margin: 0 0 2rem;
	font-weight: 700;
}
.tab-content.bordered {
	border: 1px solid #ddd;
}
.wiki-article #editForm #textInput {
	width: 100%;
	height: 30rem;
	border: none;
}
.wiki-article #submit {
	margin: auto;
	display: block;
	margin-top: 2rem;
}